:host ::ng-deep .p-table {
  width: 100%;
}
.caption-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-active {
  color: var(--p-primary-color);
}

.text-inactive {
  color: var(--p-text-muted-color);
}
